.form-login {
  display: flex;
  margin: 60px auto;
  border-radius: 5px;
	background-color: rgba(63,94,251,1);
  padding: 55px 25px;
}
.form-container {
  margin: 0 auto;
  text-align: center;
}
.form-container .link-signin a {
    color: white;
  }

.form-input__send {
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
  margin: 15px 0;
  letter-spacing: 2px;
  font-weight: bold;
  outline: none;
}
.form-input__container {
  margin: 25px 0px;
}
.form-input__container input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
  }
.form-input__container #lastname {
    margin-left: 10px;
    width: 220px;
  }
.form-input__container label {
    margin-left: 10px;
  }
